@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
html {
  font-family: IBM Plex Sans, sans-serif;
}

body {
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
  font-family: IBM Plex Sans, sans-serif;
}

h1,
h2 {
  margin-bottom: 20px;
}

.big {
  font-size: 2em;
}

#timer {
  margin-bottom: 20px;
}

#competitors-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.competitor {
  margin: 15px;
  padding: 15px;
  border: 2px solid #333;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 800px; /* Increase width to 800px */
  align-items: center;
}

.competitor span {
  margin-right: 15px;
  font-weight: bold;
  flex-grow: 1;
  text-align: left;
}

.competitor .name {
  max-width: 250px; /* Ensure names don't overflow */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type="text"] {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  text-align: center;
  font-family: IBM Plex Sans, sans-serif;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  transition: background-color 0.3s ease;
  white-space: nowrap; /* Prevent text wrapping */
  font-family: IBM Plex Sans, sans-serif;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

.confirmed {
  background-color: #d4f7d4;
}

button:last-child {
  margin-right: 0;
}

#start-timer,
#reset-timer {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
}

#start-timer:hover,
#reset-timer:hover {
  background-color: #0069d9;
}

#start-timer:active,
#reset-timer:active {
  background-color: #0056b3;
}

.competitor div {
  display: flex;
  align-items: center;
}

button {
  width: 130px; /* Equal button widths */
}
