@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html {
  font-family: Lato, sans-serif;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

#wrapper {
  display: table;
}

.spacer {
  flex-grow: 1;
}

#searchbar {
  display: flex;
  width: 100vw;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background: rgba(98, 98, 150, 0.5);
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.5);
}

#user-interface {
  top: 0;

  left: 0;
  position: fixed;
}

#corner-lt div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#earth-button {
  color: black;
  background-color: rgba(255, 255, 255, 1);
}

.tbutton {
  padding: 20px;
  margin-right: 30px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.25s ease all;
}

.tbutton:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.tbutton:active {
  transform: scale(0.9);
}

#object-search {
  margin-right: 30px;
  font-size: 1.5em;
  color: white;
  font-family: Lato, sans-serif;
  outline: none;
  border: none;
  background: linear-gradient(white 0 0) bottom / 0% 4px no-repeat
    rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
}
#object-search:focus {
  background-size: 100% 4px;
}

.logo {
  margin-left: 30px;
  font-size: 2em;
  font-weight: 800;
}

#corner-lt {
  width: 100px;
  height: 50px;
  padding: 50px 300px;
  padding-left: 50px;
  top: 0;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);

  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

html {
  color: white;
  z-index: 1;
}

.property {
  user-select: none;
  display: table;
}

input {
  display: block;
  width: 360px;
  padding: 20px;
}
button {
  width: 400px;
  padding: 20px;
}

.starname {
  font-weight: 800;
  font-size: 2em;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  font-family: Lato, sans-serif;
  font-weight: 400;
  visibility: hidden;
  font-size: 0.5em;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 0.125s ease;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}
