canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

#wrapper {
  display: table;
}

html {
  color: white;
  z-index: 1;
}

.property {
  user-select: none;
  display: table;
}

input {
  display: block;
  width: 360px;
  padding: 20px;
}
button {
  width: 400px;
  padding: 20px;
}

.starname {
  font-weight: 800;
  font-size: 2em;
}
