@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
html {
  width: 100%;
  overflow-x: hidden;
  font-size: 2em;
}

.main-wrapper {
  height: 100vh;
}

body {
  overflow-x: hidden;
  position: fixed;
  margin: 0;
  padding: 0;
  font-family: IBM Plex Sans, Arial, Arial, Helvetica, sans-serif;
}
.main {
  position: relative;
  padding-top: 100px;
  z-index: 0;
  background-color: #deb890;
  color: #3d3a85;
}

.main2 {
  position: relative;
  padding-top: 500px;
  top: -600px;
  z-index: -1;
  background-color: #92ccc9;
  color: #3d3a85;
}
