body {
  font-family: "DM Sans", Helvetica, sans-serif;
  width: 100%;
  user-select: none;
  overflow: hidden;
}

#pageinfo {
  font-weight: 600;
  position: relative;
  top: 0px;
  margin-left: 20px;
  transition: all 0.3s ease;
  display: inline-block;
}

#screenCover {
  z-index: 2;
  position: fixed;
  width: calc(100vw - 80px);
  height: calc(100vh - 160px);
  padding: 40px;
  margin: auto;
  background-position: center;
  background-size: cover;
  right: 0;
  bottom: 0;
}

#joinCodePopup {
  z-index: 1001;
  background: #eee;
  padding: 10px 20px;
  border-radius: 6px;
  text-align: center;
  color: #222;
  position: fixed;
  top: 50%;
  height: 231px;
  width: 660px;
  left: 50%;
  margin: auto;
  opacity: 0%;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0.5, 0.5);
  transition: all 0.5s cubic-bezier(0.15, 0.25, 0.4, 1);
}

#joinCodePopup div {
  margin-top: 10px;
  font-size: 2em;
  font-weight: 700;
}

#joinCodePopup p {
  font-size: 1.5em;
  font-weight: 500;
}

#joinCodeError {
  opacity: 0%;
  font-size: 15px;
  transition: all 0.5s ease;
}

#joinCodeSubmit {
  margin-top: 10px;
  width: 75%;
  font-family: "DM Sans", Helvetica, sans-serif;
  padding: 10px 10px;
  outline: none;
  border: 2px solid black;
  font-size: 25px;
  border-radius: 100px;
}

#joinCodeSubmitButton {
  text-align: center;
  padding-top: 10px;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  height: 45px;
  color: #ccc;
  background: #888;
  width: 700px;
  border-radius: 0px 0px 6px 6px;
  right: 0px;
  bottom: -50px;
  transition: all 0.125s ease-in-out;
}

#joinCodeSubmitButton:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.noticeModal {
  opacity: 0%;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.25s ease-in-out;
}

#joinGame h1 {
  font-size: 40px;
}

#createGame h1 {
  font-size: 40px;
}

#joinGame {
  display: inline-flex;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../crystal2.png");
  color: white;
}

#createGame {
  display: inline-flex;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../crystal3.png");
  color: white;
}

.instanceInfo {
  margin-left: 25px;
  font-size: 15px;
}

.createInstanceButton {
  margin: 50px;
  width: 20vw;
  height: 20vw;
  padding: 2vw;
  border-radius: 0.5vw;
  border: 0.5vw outset white;
  transition: all 0.06125s ease;
}

.createInstanceButton:hover {
  filter: brightness(85%);
  cursor: pointer;
}

#helloUser {
  font-size: 3em;
  margin-right: 15px;
  display: inline-block;
  color: white;
  font-weight: 300;
}
#loggedIn {
  font-size: 3em;
  font-weight: 700;
  display: inline-block;
  color: white;
}

#header {
  z-index: 1;
  right: 0px;
  top: 0px;
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  color: white;
  font-weight: 500;
  background: linear-gradient(rgb(65, 65, 65), rgb(34, 34, 34));
  margin: 0;
  border-bottom: 3px solid rgb(48, 48, 48);
  padding: 20px 0px;
  display: block;
  position: fixed;
}

#wallpaper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-position: center;
  background-size: cover;
  right: 0;
  top: 0;
  filter: brightness(50%);
}
