@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

green {
  color: rgb(46, 180, 46);
  font-weight: bold;
}

yellow {
  color: rgb(192, 182, 39);
  font-weight: bold;
}

.guess-ex {
  font-size: 1.5rem;
  font-family: IBM Plex Mono, monospace;
}

body {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: black;
  background-color: rgb(245, 245, 245);
  transition: all 0.25s ease;
  font-family: IBM Plex Sans, sans-serif;
}

#stats-screen {
  color: black;
  z-index: 2;
  width: 500px;
  background-color: rgb(245, 245, 245);
  padding: 40px;
  border-radius: 20px;
  position: fixed;
  top: 150%;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 2px #000000;
  transition: all 0.5s ease;
}

.stats-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.stat {
  text-align: center;
}

.distribution-section {
  margin-top: 20px;
}

.guess-row {
  display: flex;
  align-items: center;
  margin: 5px 0;
  width: 0%;
  transition: all 0.25s ease;
}

.bar-container {
  flex: 1;
  margin: 0 10px;
  background-color: #9cff88;
  height: 20px;
  border-radius: 10px;
}

.bar {
  height: 100%;
  background-color: #6aaa64; /* Adjust color as needed */
  border-radius: 10px;
}

p {
  margin: 0;
}

#rules-screen {
  color: black;
  z-index: 2;
  width: 500px;
  background-color: rgb(245, 245, 245);
  padding: 40px;
  border-radius: 20px;
  position: fixed;
  top: 150%;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 2px #000000;
  transition: all 0.5s ease;
}

#close-stats {
  font-size: 4em;
  height: 0;
  width: 0;
  bottom: 24px;
  left: 320px;
  position: relative;
  text-align: right;
  margin: 0;
  flex: 0;
  transition: all 0.25s ease;
}

#close-stats:hover {
  cursor: pointer;
}

#close-rules {
  font-size: 4em;
  height: 0;
  width: 0;
  bottom: 24px;
  left: 140px;
  position: relative;
  text-align: right;
  margin: 0;
  flex: 0;
  transition: all 0.25s ease;
}

#close-rules:hover {
  cursor: pointer;
}

#rules-screen h1 {
  margin: 0;
}

#stats-screen h1 {
  margin: 0;
}

.iconb {
  width: 32px;
  text-align: center;
  height: 32px;
  position: relative;
  margin-left: 20px;
  right: 20px;
  padding: 20px;
  border-radius: 20px;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  transition: 0.25s ease all;
  box-shadow: 0 0 8px 1px #000000;
}

.iconb:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.iconb:active {
  transform: scale(0.9);
}

#rules-screen li {
  font-size: 1.25em;
  line-height: 1.5em;
}

#stats-screen li {
  font-size: 1.25em;
  line-height: 1.5em;
}

body {
  margin: 0px;
  padding: 0px;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

#main-wrapper {
  user-select: none;
  width: 560px;
  margin: 40px auto;
  height: 400px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.square {
  border: 2px solid gray;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  transition: all 0.25s ease;
}

#modal {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.25s ease;
}

.avg {
  width: 100%;
  height: 50%;
  margin: 25% 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  background-color: rgb(77, 77, 77);
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  clip-path: polygon(90% 0%, 80% 50%, 90% 100%, 25% 100%, 10% 50%, 25% 0%);
  transition: all 0.5s ease;
}

#header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 8px 1px #000000;
  left: 0;
  top: 0;
  padding: 20px 0px;
  transition: all 0.25s ease;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.disabled {
  background-color: rgb(167, 167, 167) !important;
}

.disabled:hover {
  cursor: not-allowed !important;
}

#share-button {
  display: block;
  color: white;
  font-size: 1.75em;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  background: green;
  width: 240px;
  margin: 20px auto;
  margin-top: 80px;
  visibility: hidden;
  opacity: 0%;
  transition: 0.125s ease all;
}

#share-button:hover {
  filter: brightness(0.8);
  transform: scale(0.97);
  cursor: pointer;
}

#share-button:active {
  transform: scale(0.94);
}

#share-button2 {
  display: block;
  color: white;
  font-size: 1.5em;
  border-radius: 100px;
  text-align: center;
  padding: 10px;
  background: green;
  width: 240px;
  margin: 20px auto;

  transition: 0.125s ease all;
}

#share-button2:hover {
  filter: brightness(0.8);
  transform: scale(0.97);
  cursor: pointer;
}

#share-button2:active {
  transform: scale(0.94);
}

#passcode-gameid {
  text-align: center;
  font-size: 2em;
  margin-top: 40px;
  font-weight: 900;
}

.keyboard {
  text-align: center;
  width: 1000px;
  height: 40px;
  margin: auto;
  user-select: none;
}

.key {
  display: inline-block;
  height: 80px;
  vertical-align: middle;
  height: 100%;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-color: rgb(77, 77, 77);
  color: white;
  font-size: 2rem;
  padding: 16px;
  margin: 0 4px;
  font-weight: 900;
  border-radius: 10px;
  transition: all 0.25s ease;
}

.key:hover {
  cursor: pointer;
  transform: scale(0.97);
}
.key:active {
  transform: scale(0.94);
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 400;
  visibility: hidden;
  font-size: 0.8em;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 0.125s ease;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}
