@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
html {
  width: 100%;
  overflow-x: hidden;
  font-size: 2em;
}

body {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: fixed;
  margin: -12px;
  padding: -12px;
  color: white;
  border: 12px solid white;
  font-family: Roboto Mono, Helvetica, sans-serif;
}

.particles-js-canvas-el {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  z-index: -2;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.header {
  background: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.699);
}

.header-item {
  flex-shrink: 0;
  flex-grow: 1;
  width: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  border-left: 2px solid white;
  border-right: 2px solid white;
  font-size: min(1.5em, 2vw);
  transition: all 0.125s ease;
}

.header {
  background: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.699);
}

.header-item {
  flex-shrink: 0;
  flex-grow: 1;
  width: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  border-left: 2px solid white;
  border-right: 2px solid white;
  font-size: min(1.5em, 2vw);
  transition: all 0.125s ease;
}

.stats-carrier {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 0.5em;
}

.stats-item {
  flex-shrink: 0;
  flex-grow: 1;
  width: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0.5em;
  text-align: center;
  font-size: min(1.5em, 2vw);
  border-radius: 0.2em;
  transition: all 0.125s ease;
  box-shadow: 0px 0px 15px white;
}

.switch {
  display: inline;
  padding: 0.3em;
  text-align: center;
  font-size: 1em;
  border-radius: 0.2em;
  transition: all 0.25s ease;
  box-shadow: 0px 0px 15px white;
}

.switch:hover {
  display: inline;
  padding: 0.3em;
  text-align: center;
  color: black;
  background-color: rgb(196, 196, 196);
  font-size: 1em;
  border-radius: 0.2em;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0px 0px 15px white;
}

.stats-item p {
  font-size: 0.7em;
  margin: 0;
}

.stats-item div {
  font-weight: 900;
  font-size: 2em;
}

v a {
  color: white;
}

.projectPlay {
  padding: 1%;
  text-align: center;
  background-color: white;
  color: black;
  transition: all 0.25s ease;
}

input {
  font-family: Roboto Mono, Helvetica, sans-serif;
  padding: 0.3em;
  font-size: 1em;
  margin-bottom: 1em;
  width: calc(100% - 8px - 0.4em);
  outline: none;
  background-color: white;
  color: black;
  transition: all 0.25s ease;
}

#ReportQuestion {
  display: inline;
  font-size: 0.8em;
  transition: all 0.25s ease;
  padding: 0.3em;
  border-radius: 0.2em;
  transition: all 0.25s ease;
  box-shadow: 0px 0px 15px white;
}

#ReportPrevious:hover {
  display: inline;
  color: black;
  background-color: rgb(196, 196, 196);
  cursor: pointer;
}

#ReportPrevious {
  display: inline;
  font-size: 0.8em;
  transition: all 0.25s ease;
  padding: 0.3em;
  border-radius: 0.2em;
  transition: all 0.25s ease;
  box-shadow: 0px 0px 15px white;
}

#ReportQuestion:hover {
  display: inline;
  color: black;
  background-color: rgb(196, 196, 196);
  cursor: pointer;
}

#questionNumber {
  display: inline;
  margin: 0;
  font-size: 0.8em;
  font-weight: 900;
}

#questionId {
  display: inline;
  margin: 0;
  font-size: 0.8em;
  font-weight: 900;
}

.legalPlay {
  padding: 0.1%;
  margin-top: 0.5em;
  text-align: center;
  background-color: rgb(73, 73, 73);
  color: rgb(255, 255, 255);
  transition: all 0.25s ease;
}

.legalPlay:hover {
  filter: brightness(80%);
  transform: scale(0.98, 0.98);
  cursor: pointer;
}

.legalPlay:active {
  filter: brightness(70%);
  transform: scale(0.95, 0.95);
  cursor: pointer;
}

.projectPlay:hover {
  filter: brightness(80%);
  transform: scale(0.98, 0.98);
  cursor: pointer;
}

.projectPlay:active {
  filter: brightness(70%);
  transform: scale(0.95, 0.95);
  cursor: pointer;
}

.header-item:hover {
  color: black;
  background: rgba(255, 255, 255, 0.75);
  width: 4vw;
  cursor: pointer;
}

.selected {
  color: black;
  background: rgba(255, 255, 255, 0.75);
  width: 4em;
  cursor: pointer;
  font-weight: 800;
  animation: colorChange 3s infinite;
}

@keyframes colorChange {
  from {
    color: #111183;
    text-shadow: #6666ff85 4px 4px 8px;
  }
  10% {
    color: #105888;
    text-shadow: #0099ff77 4px 4px 8px;
  }
  50% {
    color: #118011;
    text-shadow: #00ff0071 4px 4px 8px;
  }
  75% {
    color: #941037;

    text-shadow: #ff339979 4px 4px 8px;
  }
  100% {
    color: #0e0e83;
    text-shadow: #6666ff7a 4px 4px 8px;
  }
}

#header1 {
  font-weight: 700;
}

#main-carrier {
  position: fixed;
  width: 400vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  transition: all 0.5s ease;
}

.main {
  width: calc(100vw - 160px);
  display: inline-block;
  padding: 80px;
  height: calc(100vh - 7em);
  overflow-y: auto;
}

.blogpost {
  background-color: black;
  border: 6px solid white;
  padding: 40px 50px 40px 50px;
  margin-bottom: 60px;
}

#questionSubmitConfirm {
  margin-top: 1em;
  margin-bottom: -0.5em;
  opacity: 0;
  transition: all 0.5s ease;
}

#feedbackSubmitConfirm {
  margin-top: 1em;
  margin-bottom: -0.5em;
  opacity: 0;
  transition: all 0.5s ease;
}

.title {
  font-size: 1.5em;
  margin-top: -10px;
  font-weight: 800;
}
.time {
  font-size: 0.75em;
  margin: 0;
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(41, 41, 41);
}
