@font-face {
  font-family: Helvetica;
  src: url("fonts/HelveticaNeueRoman.otf") format("opentype");
}

@font-face {
  font-family: Helvetica;
  font-weight: bold;
  src: url("fonts/HelveticaNeueBold.otf") format("opentype");
}

.select-carrier {
  text-align: center;
}

a {
  color: white;
}

#particles-js {
  z-index: -1;
position:fixed;
top:0;
  left:0;
  width:100vw;
  height:100vh;
}

button {
  margin-top: 10px;
    display: inline-block;
    outline: none;
    font-family: "Helvetica";
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px;
    border: 4px solid white;
    background-color: gold;
    transition: 0.125s ease all;
}
#announcement {
  display: inline;
  margin-left: 20px;
}

button:hover {
  cursor: pointer;
  transform: scale(0.92);
}

button:active {
  transform: scale(0.84);
}

select {
  display: inline;
  font-family: "Helvetica";
  outline: none;
  font-size: 1em;
  padding: 10px;
  margin: 10px;
  margin-top: 0;
}

body {
  background-color: #7b388c;
  color: white;
  font-family: "Helvetica";
  padding: 0;
  margin: 100px;
  margin-top: 30px;
  overflow-x: hidden;
}

#data-updater {
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
}

.bold {
  font-weight: bold;
}

#station-estimate {
  font-size: 1.5em;
}

label {
  font-size: 1.25em;
}

p {
  margin: 0.75em;
  font-size: 1.25em;
  text-align: center;
}

#train-carrier {
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.new-train {
  display: inline-block;
  border: 6px solid white;
  padding: 20px;
  flex: 1 1 320px;
  text-align: left;
  width: 320px;
  margin: 10px;
}
